*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
box model
    margin padding boder
    content

    box-sizing
*/
.Caixa {

    box-sizing: border-box;
    height: 146px;
    width: 166px;
    border: 2px solid slateblue;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-left: 200px;

}